<ion-view view-title="Calendário">
  <ion-content>
<table class="tg gray">
  <tr>
    <th class="tg-yw4l">Mês</th>
    <th class="tg-yw4l">Dia&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th class="tg-yw4l">Ocorrência<br></th>
  </tr>
  <tr>
    <td class="tg-yw4l" rowspan="2">01<br></td>
    <td class="tg-yw4l white center">1 a 17</td>
    <td class="tg-yw4l">Férias Docentes.</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">18</td>
    <td class="tg-yw4l">Retorno das atividades docentes.</td>
  </tr>
  <tr>
    <td class="tg-yw4l" rowspan="9">02</td>
    <td class="tg-yw4l white center">1</td>
    <td class="tg-yw4l">Edital de Abertura de Inscrições para Alunos Especiais – 1º semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">1 a 5<br></td>
    <td class="tg-yw4l">Matrícula - Alunos Regulares – 1º Semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">1 a 5<br></td>
    <td class="tg-yw4l">Realização de matrícula para ingresso por Mobilidade Discente</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">8</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">9</td>
    <td class="tg-yw4l">Feriado – Carnaval</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">10</td>
    <td class="tg-yw4l">Recesso – Quarta-Feira de Cinzas</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">11 a 12<br></td>
    <td class="tg-yw4l">Inscrições para Alunos Especiais – 1º Semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">18</td>
    <td class="tg-yw4l">Início das atividades letivas – 1º Semestre do ano de 2016 – Aula Inaugural</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">24 a 26<br></td>
    <td class="tg-yw4l">Matrícula – Alunos Especiais – 1º semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l" rowspan="3">03<br></td>
    <td class="tg-yw4l white center">2 a 4<br></td>
    <td class="tg-yw4l">Requerimento de aproveitamento de estudos por disciplina cursada em outro curso.</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">25</td>
    <td class="tg-yw4l">Feriado – Paixão de Cristo</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">26</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo</td>
  </tr>
  <tr>
    <td class="tg-yw4l" rowspan="3">04</td>
    <td class="tg-yw4l white center">21</td>
    <td class="tg-yw4l">Feriado – Tiradentes</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">22</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">23</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo</td>
  </tr>
  <tr>
    <td class="tg-yw4l" rowspan="3">05<br></td>
    <td class="tg-yw4l white center">26</td>
    <td class="tg-yw4l">Feriado – Corpus Christi</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">27</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">28</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo</td>
  </tr>
  <tr>
    <td class="tg-yw4l" rowspan="9">06<br></td>
    <td class="tg-yw4l white center">1</td>
    <td class="tg-yw4l">Edital de Abertura de Inscrições para Alunos Especiais – 2º semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">6 a 9<br></td>
    <td class="tg-yw4l">Inscrições para Alunos Especiais – 2º Semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">10</td>
    <td class="tg-yw4l">Campus de Foz do Iguaçu – Feriado – Emancipação Política do Município</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">11</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">13 a 17<br></td>
    <td class="tg-yw4l">Inscrições para Alunos Especiais – 2º Semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">13 a 17<br></td>
    <td class="tg-yw4l">Matrícula – Alunos Regulares – Turma 2016 – 2º semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">20 a 23<br></td>
    <td class="tg-yw4l">Matrícula – Alunos Especiais – 2º semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">24</td>
    <td class="tg-yw4l">Campus de Foz do Iguaçu – Feriado – Dia do Padroeiro do Município</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">25</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo</td>
  </tr>
  <tr>
    <td class="tg-yw4l" rowspan="5">07<br></td>
    <td class="tg-yw4l white center">9</td>
    <td class="tg-yw4l">Encerramento do primeiro semestre letivo<br></td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">11 a 16<br></td>
    <td class="tg-yw4l">Recesso Acadêmico (discentes)</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">15</td>
    <td class="tg-yw4l">Último prazo para a entrega dos Diários de Classe na Secretaria do PPGTGS das disciplinas do 1º Semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">18</td>
    <td class="tg-yw4l">Último prazo para a publicação de notas pela Secretaria do PPGTGS das disciplinas ofertadas no 1º Semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">21</td>
    <td class="tg-yw4l">Reinício das atividades letivas – 2º Semestre do ano de 2016</td>
  </tr>
  <tr>
    <td class="tg-yw4l" rowspan="5">09</td>
    <td class="tg-yw4l white center">7</td>
    <td class="tg-yw4l">Feriado – Independência do Brasil</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">8</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo<br></td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">9</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">10</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo<br></td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">5 a 30</td>
    <td class="tg-yw4l">Edital de abertura das inscrições para o processo de seleção da turma de 2017</td>
  </tr>
  <tr>
    <td class="tg-yw4l" rowspan="4">10</td>
    <td class="tg-yw4l white center">3 a 7<br></td>
    <td class="tg-yw4l">Edital de homologação das inscrições do processo de seleção da turma de 2017.</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">12</td>
    <td class="tg-yw4l">Feriado - Padroeira do Brasil (Nossa Senhora Aparecida)</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">28</td>
    <td class="tg-yw4l">Feriado - Dia do Funcionário Público</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">29</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo</td>
  </tr>
  <tr>
    <td class="tg-yw4l" rowspan="6">11</td>
    <td class="tg-yw4l white center">2</td>
    <td class="tg-yw4l">Feriado - Finados</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">7 a 11<br></td>
    <td class="tg-yw4l">1ª Etapa do Processo Seletivo da Turma de 2017</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">14</td>
    <td class="tg-yw4l">Recesso – Acadêmico e Administrativo</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">15</td>
    <td class="tg-yw4l">Feriado – Proclamação da República</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">21 a 25<br></td>
    <td class="tg-yw4l">2ª Etapa do Processo Seletivo da Turma de 2017</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">28</td>
    <td class="tg-yw4l">Edital do Resultado Final do Processo Seletivo da Turma de 2017</td>
  </tr>
  <tr>
    <td class="tg-yw4l" rowspan="3">12</td>
    <td class="tg-yw4l white center">10</td>
    <td class="tg-yw4l">Encerramento do segundo semestre letivo de 2016</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">12</td>
    <td class="tg-yw4l">Último prazo para a entrega dos Diários de Classe na Secretaria do PPGTGS das disciplinas do 2º Semestre</td>
  </tr>
  <tr>
    <td class="tg-yw4l white center">13</td>
    <td class="tg-yw4l">Último prazo para a publicação de notas pela Secretaria do PPGTGS das disciplinas ofertadas no 2º Semestre</td>
  </tr>
</table>
  </ion-content>
</ion-view>
