<ion-view view-title="Área de Concetração">
  <ion-content>
    <ion-item class="geral-item">
      O Programa de Pós-Graduação Stricto Sensu em Tecnologias, Gestão e Sustentabilidade - PPGTGS, possui área de concentração em <b>Tecnologias e Gestão</b>, área básica <b>Administração</b>. 
    </ion-item>
  </ion-content>
</ion-view>
