<ion-view view-title="{{title}}">
  <ion-content class="gray">
    <ion-item class="home-item" style="height:200px;">
      <b>{{text}}</b>
      <br />
      <br />
      <img src="/img/unioeste.png">
    </ion-item>
    <ion-item class="text-item">

      <ion-item ng-repeat="coord in coords" style="border:0;">
        <b>{{coord.status}}</b>
        <br/>
        {{coord.name}}
      </ion-item>


      <div class="item item-icon-left" href="#" style="border:0;">
        <i class="icon ion-ios-telephone-outline"></i>
        {{info.fone}}
      </div>
      <div class="item item-icon-left" href="#" style="border:0;">
        <i class="icon ion-android-pin"></i>
        
        {{info.location}}
      </div>

      <div class="item item-icon-left" href="#" style="border:0;">
        {{info.location_sub}} <br/>
        {{info.adrress}} <br/>
        {{info.city}} <br/>
        {{info.cep}}
      </div>
    </ion-item>
  </ion-content>
</ion-view>
