<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Início
        </ion-item>
        <ion-item menu-close href="#/app/concentration_area">
          Área de Concetração
        </ion-item>
        <ion-item menu-close href="#/app/research_line">
          Linha de Pesquisa
        </ion-item>
        <ion-item menu-close href="#/app/teachers">
          Corpo Docente
        </ion-item>
        <ion-item menu-close href="#/app/themes">
          Disciplinas
        </ion-item>
        <ion-item menu-close href="#/app/process">
          Processo Seletivo
        </ion-item>
        <ion-item menu-close href="#/app/calendar">
          Calendário
        </ion-item>
        <ion-item menu-close href="#/app/regulation">
          Regulamento e Normas
        </ion-item>
        <ion-item menu-close href="#/app/notices">
          Editais
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
