<ion-view view-title="Processo Seletivo">
  <ion-content>
    <ion-item class="gray">
      <b>INFORMAÇÕES</b>
    </ion-item>
    <ion-item class="geral-item">
      O Programa de Pós-Graduação em Tecnologias, Gestão e Sustentabilidade, para o ano letivo de 2016 (Turma 2016-2018), <b>possui 14 vagas</b>. 
      <br />
      <br />
      A Comissão de Seleção para o processo de ingresso no Programa será composta por, no mínimo 3 (três) professores efetivos e um suplente do Programa.
      <br />
    </ion-item>
    <ion-item class="gray">
      <b>ETAPAS</b>
    </ion-item>
    <ion-item class="geral-item">
      <b>a) Homologação das inscrições:</b> de caráter eliminatório: a Comissão de Seleção analisará a documentação dos candidatos entre os dias 02 e 06 de novembro de 2015, e emitirá edital próprio com a convocação dos candidatos para as próximas etapas do processo de seleção.   As inscrições que não apresentarem a documentação completa prevista no edital, bem como não atendam aos prazos, serão indeferidas;
      <br />
      <br />
      <b>b) Curriculum Lattes:</b> serão avaliadas no curriculum do candidato apenas as informações devidamente comprovadas por meio de anexação de cópias de certificados, certidões, atestados, diplomas, declarações e outros documentos oficiais.   A pontuação deverá ser preenchida e entregue na Secretaria do PPGTGS pelo candidato de acordo com a tabela de critérios e pontos descritos no formulário próprio (vide Anexo 2 do Edital);
      <br />
      <br />
      <b>c) Proposta de Pré-Projeto de Pesquisa:</b> os candidatos deverão apresentar uma proposta de pré-projeto de pesquisa conforme roteiro descrito neste edital (vide Anexo 3 do Edital).   A proposta deverá ter no mínimo quatro e máximo seis folhas tamanho A4, formatação Times New Roman, fonte 12, espaçamento entre linhas 1,5, margens superior e esquerda 3cm, direita e inferior 2cm, recuo de parágrafo 1,25cm;
      <br />
      <br />
      <b>d) Avaliação Dissertativa:</b> a realização da avaliação dissertativa será no dia 09 de novembro de 2015, as 19h30min, na UNIOESTE, Campus Foz do Iguaçu, Av. Tarquínio Joslin dos Santos, 1300, Polo Universitário, o ensalamento será divulgado em Edital próprio.   Será avaliada a articulação (capacidade crítica-reflexiva) da temática proposta do seu pré-projeto em relação à linha de pesquisa pretendida.   Tempo de duração: 2h (das 19h30min às 21h30min);
      <br />
      <br />
      <b>e) Entrevista:</b> a Comissão de Seleção emitirá edital próprio no dia 20 de novembro de 2015 contendo o cronograma de entrevista dos candidatos.   As entrevistas ocorrerão entre os dias 23 a 27 de novembro de 2015.
      <br />
      <br />
      Os candidatos com necessidades especiais deverão informar quais são suas necessidades no ato da inscrição, sendo que serão garantidas condições estruturais para a participação no processo seletivo de acordo com o informado pelo candidato;
      <br />
      <br />
      A seleção dos candidatos estrangeiros inscritos é efetuada de forma idêntica à dos candidatos brasileiros, ressalvados os casos de convênios e acordos internacionais;
      <br />
      <br />
      Para a pontuação da classificação final será feita conforme descrições a seguir:
      <br />
      <br />
      Etapa I – Avaliação Dissertativa (ETI): será avaliada com nota de 00 a 100, sendo de caráter eliminatório (em que o candidato será eliminado se tiver pontuação menor que 70) e classificatório (fazendo parte da composição da nota final do candidato);
      <br />
      Etapa II (ETII) – de caráter classificatório, será composta por: análise do Pré-Projeto de Pesquisa (PP), pontuação do Curriculum Lattes (CV) e Entrevista (EN).
      <br />
      <br />
      <b>ETII = PP x 0,3 + CV x 0,3 + EN x 0,4</b>
      <br />
      <b>Nota Final = ETI x 0,2 + ETII x 0,8</b>
    </ion-item>


    <ion-item class="gray">
    <b>CRONOGRAMA</b>
    </ion-item>

    <ion-item class="geral-item">
      <table class="tg" style="text-align: left; width:100%">
        <tr>
          <th>Data</th>
          <th>Etapa</th>
          <th>Local</th>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Inscrições</td>
          <td>05 a 30/10/2015</td>
          <td><a href="www.unioeste.br/pos/inscricoes/">Clique Aqui</a></td>
        </tr>
        <tr>
          <td>Entrega da documentação no PPGTGS</td>
          <td>até 30/10/2015</td>
          <td>Secretaria do PPGTGS ou postagem via SEDEX</td>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Edital de homologação das inscrições</td>
          <td>até 06/11/2015</td>
          <td> Secretaria e site do PPGTGS</td>
        </tr>
        <tr>
          <td>Elaboração da Avaliação Dissertativa</td>
          <td>09/11/2015</td>
          <td>Campus da UNIOESTE</td>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Entrevista</td>
          <td>23 a 27/11/2015</td>
          <td>Campus da UNIOESTE</td>
        </tr>
        <tr>
          <td>Edital de resultado final</td>
          <td>30/11/2015</td>
          <td>Secretaria e site do PPGTGS</td>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Matrícula para alunos regulares</td>
          <td>01 a 05/02/2016</td>
          <td>Secretaria do PPGTGS – UNIOESTE-CECE/PTI</td>
        </tr>
      </table>
    </ion-item>


    <ion-item class="gray">
    <b>HOMOLOGAÇÃO DAS INSCRIÇÕES</b>
    </ion-item>

    <ion-item class="geral-item">
      A situação das homologações das inscrições dos candidatos no Processo Seletivo de Aluno Regular Turma 2016-2018 encontra-se em ordem alfabética, por linha de pesquisa (Linha 1 - TECNOLOGIAS E SUSTENTABILIDADE e Linha 2 - GESTÃO E DESENVOLVIMENTO REGIONAL SUSTENTÁVEL), conforme Anexo I do Edital 002/2015-PPGTGS.
      <br />
      <br />
      a) Os candidatos que não tiverem inscrição homologada, poderão protocolar (no setor de protocolo do campus da Unioeste - Foz do Iguaçu) pedido de recurso para a Comissão de Seleção do PPGTGS até às 12 horas do dia 09 de novembro de 2015 (a ficha de solicitação de recurso encontra-se no setor de protocolo);
      <br />
      <br />
      Ficam convocados os candidatos, cujas inscrições foram homologadas, para comparecer na UNIOESTE CAMPUS I DE FOZ DO IGUAÇU, Av. Tarquínio Joslin dos Santos, 1300, Polo Universitário, atendendo ao seguinte:
      <br />
      <br />
      a) Dia 09 de novembro de 2015 (segunda-feira), das 19h30 às 21h30 (horário de Brasília) no Bloco D, salas 1 e 2, comparecer com no mínimo 30 minutos de antecedência.
      <br />
      <br />
      b) Portando: documento original de identificação com foto (RG, Carteira de Habilitação, Carteira de trabalho ou passaporte);
      <br />
      <br />
      c) Usar apenas caneta esferográfica com tinta azul;
      <br />
      <br />
      d) Será avaliada a articulação (capacidade crítica-reflexiva) da temática proposta do seu pré-projeto em relação à linha de pesquisa pretendida.
      <br />
      <br />
      e) A avaliação dissertativa deverá ser elaborada em 1 folha tamanho A4 (frente e verso), fornecida pelo Programa, com letra legível e não podendo conter rasuras. 
      <br />
      <br />


    </ion-item>
    <ion-item class="gray">
      <b>RESULTADO DAS AVALIAÇÕES DISSERTATIVAS</b>
    </ion-item>

    <ion-item class="geral-item">
      Classificação dos candidatos da etapa de avaliação dissertativa do processo seletivo de alunos regulares no Programa de Pós-Graduação em Tecnologias, Gestão e Sustentabilidade Stricto Sensu, Mestrado Profissional, turma 2016-2018, e consequente convocação para a etapa de entrevista.
      <br />
      <br />
      A situação da classificação da etapa de avaliação dissertativa dos candidatos encontra-se em ordem alfabética, ordernado por linha de pesquisa (Linha 1 - TECNOLOGIAS E SUSTENTABILIDADE e Linha 2 - GESTÃO E DESENVOLVIMENTO REGIONAL SUSTENTÁVEL), conforme Anexo I do Edital 004/2015-PPGTGS (Disponível abaixo para download).
      <br />
      <br />
      Ficam convocados os candidatos classificados na etapa de avaliação dissertativa, para comparecer na UNIOESTE CAMPUS I DE FOZ DO IGUAÇU, Av. Tarquínio Joslin dos Santos, 1300, Polo Universitário.  Para os candidatos à Linha 1 (TECNOLOGIAS E SUSTENTABILIDADE) as entrevistas ocorrerão no Bloco B, Sala 4 e, para os candidatos à Linha 2 (GESTÃO E DESENVOLVIMENTO REGIONAL SUSTENTÁVEL) as entrevistas ocorrerão no Bloco F, Sala 1, conforme data e horário apresentado no Cronograma de Entrevistas do Anexo II do Edital 004/2015-PPGTGS (Disponível abaixo para download).
    </ion-item>
    <ion-item class="gray">
      <b>RESULTADO FINAL</b>
    </ion-item>
    <ion-item class="geral-item">
      Resultado Final: A classificação dos candidatos no Processo Seletivo para Alunos Regulares Turma 2016-2018 encontra-se listada em ordem decrescente, por linha de pesquisa, no Anexo I os classificados da Linha 1 - TECNOLOGIAS E SUSTENTABILIDADE, e no Anexo II os classificados da Linha 2 - GESTÃO E DESENVOLVIMENTO REGIONAL SUSTENTÁVEL, do Edital 005/2015-PPGTGS (disponível para download abaixo);
      <br />
      <br />
      Consideram-se aprovados os 7 (sete) primeiros candidatos de cada linha de pesquisa;
      No processo seletivo não cabe recurso para reanálise da pontuação;
      <br />
      <br />
      Reunião de Apresentação e Informações Gerais do Curso: Ficam convocados os candidatos aprovados de cada linha a comparecer para a reunião com o Coordenador de Curso e demais docentes do Programa, local: mini auditório da UNIOESTE - CAMPUS I DE FOZ DO IGUAÇU, 2º andar do prédio da diretoria, as 14h do dia 22 de janeiro de 2016;
      <br />
      <br />
      Matrícula: os candidatos aprovados de cada linha deverão comparecer na Secretaria Acadêmica da UNIOESTE - CAMPUS I DE FOZ DO IGUAÇU entre os dias 1 a 5 de fevereiro de 2016 para efetivar a matrícula e o registro no sistema stricto da Unioeste;
      <br />
      <br />
      Não haverá prorrogação de datas e horários: o não comparecimento do candidato aprovado para a matrícula e o registro no sistema stricto da Unioeste no período acima implicará na perda da vaga;
      <br />
      <br />
      Matrícula nas disciplinas: as informações sobre a efetivação da matrícula nas disciplinas, assim como o quadro de horário das disciplinas serão apresentadas na Reunião de Apresentação com o Coordenador de Curso no dia 22 de janeiro de 2016;
    </ion-item>
  </ion-content>
</ion-view>
