<ion-view view-title="{{title}}">
  <ion-content>
    <ion-item class="item item-icon-right" ng-repeat="regulation in regulations" href="{{regulation.href}}" target="_blank">
      <i class="icon ion-android-download"></i>
        {{regulation.name}}
      </div>
    </ion-item>
  </ion-content>
</ion-view>
