<ion-view view-title="Linhas de Pesquisa">
  <ion-content>
    <ion-item class="gray">
      <b>LINHAS DE PESQUISA</b>
    </ion-item>
    <ion-item class="geral-item">

      <b>TECNOLOGIAS E SUSTENTABILIDADE:</b> <Br />esta linha de pesquisa proporcionará ao aluno, a partir de uma perspectiva interdisciplinar, a aplicação de tecnologias que contribuam para o desenvolvimento de soluções e a adoção de novos produtos ou processos ou o aprimoramento desses, visando o desenvolvimento sustentável. Contempla a utilização de recursos computacionais, de engenharias, estudos matemáticos e experimentais, nas diferentes áreas de atuação.  
      <br/>
      <br/>
      <b>GESTÃO E DESENVOLVIMENTO REGIONAL SUSTENTÁVEL:</b> <br /> esta linha de pesquisa aborda estudos sobre métodos, técnicas e modelos gerenciais de apoio à tomada de decisão, que proporcionem ao aluno uma visão sistêmica e interdisciplinar voltada para a resolução de problemas nos diferentes ambientes de trabalho, promoção do desenvolvimento econômico, social, cultural e ambiental da região.
      <br />
    </ion-item>


    <ion-item class="gray">
      <b>LINHAS DE PESQUISA POR PROFESSOR</b>
    </ion-item>
    <ion-list>
      <!-- <hr/> -->
      <ion-item>
        <b> Carlos Henrique Z. Pantaleão</b> <br/>
        <small>Tecnologias e Sustentabilidade</small>
        <br />
        <br />
        <table class="tg centered">
          <tr class="midgray">
            <td>Instrumentação</td>
          </tr>
          <tr>
            <td>Gestão da Manutenção</td>
          </tr>
          <tr class="midgray">
            <td>Engenharia Clínica</td>
          </tr>
          <tr>
            <td>Segurança do Trabalho</td>
          </tr>
          <tr class="midgray">
            <td>Processamento de Sinais e Imagens</td>
          </tr>
        </table>
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b> Clodis Boscarioli</b> <br/>
        <small>Tecnologias e Sustentabilidade</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Gestão da Tecnologia da Informação</td>
          </tr>
          <tr>
            <td>Mineração de Dados e Tomada de Decisão </td>
          </tr>
          <tr class="midgray">
            <td>Sistemas de Informações Gerenciais</td>
          </tr>
          <tr>
            <td>Business Intelligence</td>
          </tr>
        </table>
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b> Eduardo César Dechechi</b> <br/>
        <small>Tecnologias e Sustentabilidade</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Modelagem, Simulação e Controle de Processos Industriais</td>
          </tr>
          <tr>
            <td>Inovação Tecnológica em Empresas.</td>
          </tr>
        </table>
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b>Eduardo Hack Neto</b> <br/>
        <small>Gestão de Desenvolvimento Regional Sustentável</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Administração</td>
          </tr>
          <tr>
            <td>Turismo</td>
          </tr>
          <tr class="midgray">
            <td>Mercadologia</td>
          </tr>
          <tr>
            <td>Empreendedorismo</td>
          </tr>
          <tr class="midgray">
            <td>Hotelaria</td>
          </tr>
          <tr>
            <td>Gestão e Planejamento de Destinos</td>
          </tr>
        </table>
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b>Eduardo Moreira</b> <br/>
        <small> Tecnologias e Sustentabilidade</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Engenharia de Manutenção</td>
          </tr>
          <tr>
            <td>Processo de Lubrificação</td>
          </tr>
          <tr class="midgray">
            <td>Gerenciamento de Processos</td>
          </tr>
          <tr>
            <td>Planejamento Estratégico</td>
          </tr>
          <tr class="midgray">
            <td>Gerenciamento de Projeto</td>
          </tr>
          <tr>
            <td>Gestão do Conhecimento </td>
          </tr>
          <tr class="midgray">
            <td>Logística de Suprimento de Materiais</td>
          </tr>
        </table>
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b>Eliane Nascimento Pereira</b> <br/>
        <small> Tecnologias e Sustentabilidade</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Aprendizagem Organizacional</td>
          </tr>
          <tr>
            <td>Gestão do Conhecimento</td>
          </tr>
          <tr class="midgray">
            <td>Gestão de TI</td>
          </tr>
          <tr>
            <td>Sistema de Informação  </td>
          </tr>
        </table>       
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b>Elói Junior Damke</b> <br/>
        <small>Gestão de Desenvolvimento Regional Sustentável</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Gestão e Planejamento Estratégico</td>
          </tr>
          <tr>
            <td>Estratégia em Pequenas e Médias Empresas</td>
          </tr>
          <tr class="midgray">
            <td>Marketing Estratégico</td>
          </tr>
        </table>
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b>Jose Ricardo Sousa</b> <br/>
        <small> Tecnologias e Sustentabilidade</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Educação em Matemática </td>
          </tr>
        </table>    
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b>Luciano Panek</b> <br/>
        <small> Tecnologias e Sustentabilidade</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Matemática</td>
          </tr>
        </table>
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b>Manoela Silveira dos Santos</b> <br/>
        <small>Gestão de Desenvolvimento Regional Sustentável</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Gestão de Cadeias de Suprimento</td>
          </tr>
          <tr>
            <td>Estratégia como Prática</td>
          </tr>
          <tr class="midgray">
            <td>Teoria Institucional</td>
          </tr>
        </table>     
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b>Neucir Szinwelski</b> <br/>
        <small>Gestão de Desenvolvimento Regional Sustentável</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Gestão Ambiental</td>
          </tr>
          <tr>
            <td>Sustentabilidade</td>
          </tr>
          <tr class="midgray">
            <td>Ecologia</td>
          </tr>
        </table>      
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b>Waldir Rechziegel</b> <br/>
        <small>Gestão de Desenvolvimento Regional Sustentável</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Gestão e Modelos de Inovação</td>
          </tr>
          <tr>
            <td>Inteligência Tecnológica e Inovação Aberta</td>
          </tr>
          <tr class="midgray">
            <td>Qualidade de Vida no Trabalho </td>
          </tr>
        </table>  
      </ion-item>
      <!-- <hr/> -->
      <ion-item>
        <b>Willian Francisco da Silva</b> <br/>
        <small> Tecnologias e Sustentabilidade</small>
        <br/>
        <br/>
        <table class="tg centered">
          <tr class="midgray">
            <td>Gestão e Modelos de Inovação</td>
          </tr>
          <tr>
            <td>Gestão de Projetos</td>
          </tr>
          <tr class="midgray">
            <td>Sistema de Informação</td>
          </tr>
        </table>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

