<ion-view view-title="{{teacher.name}}">
<ion-content class="gray">
    <ion-item class="home-item" style="height:150px;">
      <ion-item class="item item-avatar" style="border:0;height:150px;">
        <img src="../img/teachers/{{teacher.id}}.gif" style="max-height:80px;max-width:80px;">
          <div style="height:90px;margin-left:15px;margin-top:25px;">
            <h2 style="white-space: normal;text-align:left;">
              {{teacher.name}}
            </h2>
          </div>
      </ion-item>


    </ion-item>
    <ion-item style="padding-top:33px;padding-left:0;">
      <ion-tabs class="tabs-positive">
        <a class="tab-item active">
          Sobre
        </a>
        <a class="tab-item" target="_blank" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id={{teacher.id_lattes}}">
          Lattes
        </a>
      </ion-tabs>
    </ion-item>
    <ion-item class="text-item">
      {{teacher.abstract}}
    </ion-item>
  </ion-content>
</ion-view>
