<ion-view view-title="{{title}}">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="teacher in teachers" href="#/app/teachers/{{teacher.id}}">
        <ion-item class="item item-avatar" style="height:80px;white-space: normal;">
          <img src="../img/teachers/{{teacher.id}}.gif" style="max-height:60px;max-width:60px;">
          <h2 style="white-space: normal;text-align:left;padding-top: 10px;">
            {{teacher.name}}
          </h2>
        </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
