<ion-view view-title="Disciplinas">
  <ion-content>
    <ion-item class="gray">
      <b>DISCIPLINAS OBRIGATÓRIAS</b>
    </ion-item>
  
    <ion-item class="geral-item">
      <b>Obrigatória 1 - Metodologia da Pesquisa Interdisciplinar</b>
      <br />
      Importância dos métodos de pesquisa para o trabalho de reflexão, enfatizando o conhecimento técnico-profissional e outros campos de conhecimento. Discute a sistemática geral da pesquisa, focalizando a definição do objetivo/problema, da contextualização teórica e elaboração de uma proposta de trabalho. Apresenta técnicas de coleta, sistematização, análise e apresentação de informações.
      <br />
      <br />
      <b>Obrigatória 2 - Seminários de Pesquisa Interdisciplinar</b>
      <br />
      Aprofundamento de temas específicos relacionados às Linhas de Pesquisa e suas especialidades temáticas, e aos projetos de Pesquisa, considerando os fundamentos teórico-metodológicos da pesquisa na produção de conhecimentos. Articulação das diferentes áreas e diferenciados saberes oriundos da práxis. O espaço também se destina ao desenvolvimento de atividades de intervenção nas organizações. 
      <br />
      <br />
      <table class="tg" style="text-align: left; width:100%">
        <tr>
          <th>Disciplina</th>
          <th>C/H</th>
          <th>Créditos</th>
          <th>Professor</th>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Obrigatória 1</td>
          <td>60</td>
          <td>4</td>
          <td>José Ricardo</td>
        </tr>
        <tr>
          <td>Obrigatória 2</td>
          <td>60</td>
          <td>4</td>
          <td>Carlos Pantaleão</td>
        </tr>
      </table>

    </ion-item>


    <ion-item class="gray">
      <b>DISCIPLINAS ELETIVAS</b>
    </ion-item>
    <ion-item class="geral-item">
      <b>Eletiva 1 - Inovações Tecnológicas e Portfólio de Tecnologias</b>
      <br />
      Pesquisa, Desenvolvimento & Inovação tecnológica. Políticas e instrumentos de Ciência, Tecnologia e Inovação como ferramenta de sustentabilidade empresarial de longo prazo.  Inovação aberta e fechada.  Ativos intangíveis de inovação e portfólio de tecnologia: Propriedade intelectual, industrial e portfólio de tecnologia como ativo estratégico para inovação.
      <br />
      <br />
      <b>Eletiva 2 - Qualidade Aplicada ao Desenvolvimento de Tecnologias</b>
      <br />
      Conceitos de qualidade. Normas internacionais direcionadas à busca da qualidade. Metodologia da gerência. Ferramentas da qualidade. Metodologias da Qualidade. Indicadores da Qualidade. Sensibilização na gestão pela qualidade total. Normalização ISO. Vivências na gestão pela qualidade total. 
      <br />
      <br />
      <b>Eletiva 3 - Gestão Ambiental</b>
      <br />
      Apresentar historicamente os problemas ambientais e discuti-lo atualmente, abordando suas principais causas e consequências. Discutir a legislação ambiental brasileira, abordando suas principais leis e decretos, buscando compreender seus benefício e falhas. Conhecer as etapas do processo de Avaliação de Impactos Ambientais (AIA), Estudos de Impactos Ambientais (EIA), Relatório de Impactos Ambientais (RIMA) e os principais instrumentos de Gestão Ambiental.  Abordar os processos de gestão de qualidade como Auditorias Ambientais e Certificações Ambientais, apresentando os critérios estabelecidos pelas normas ISO (International Organization for Standarization). Discutir o uso e fomento a tecnologias “limpas” e o empreendedorismo no âmbito da Gestão Ambiental.
      <br />
      <br />
      <b>Eletiva 4 - Tecnologia de Informação</b>
      <br />
      Estudar os Princípios de Gestão de TI; Apresentar Sistemas de informação e de apoio à decisão: ciclo de vida, modelagem, processos de negócio; Prover conhecimentos sobre tecnologias de Business Intelligence: Data Warehouse, OLAP e Mineração de Dados. Introduzir Gestão do conhecimento, seus desafios e aplicações. Discutir tendências da área. 
      <br />
      <br />
      <b>Eletiva 5 - Análise Multicritério de Apoio à Decisão</b>
      <br />
      Introdução a Metodologia Multicritério de Apoio a Decisão; Atores e o Processo decisório; Construção dos Mapas Cognitivos; Identificação dos Pontos de Vista Fundamentais; Construção dos Descritores dos PVFs; Descritores; Perfil atual como instrumento para análise da situação atual (diagnóstico); Aplicações.
      <br />
      <br />
      <b>Eletiva 6 - Gestão de Cadeias de Suprimentos</b>
      <br />
      Explorar os conceitos fundamentais de gestão de cadeias de suprimentos (supply chain management) como forma de competição entre grupos de empresas e organizações: Gestão estratégica de cadeias de suprimentos; governança de cadeias de suprimentos, redes colaborativas verticais e horizontais; planejamento colaborativo; prioridades competitivas de cadeias de suprimento; dinâmica de cadeias de suprimentos; alinhamento estratégico em contexto de cadeias de suprimentos, cadeias de suprimento verdes; e cadeias de suprimento sustentáveis
      <br />
      <br />
      <b>Eletiva 7 - Empreendedorismo e Marketing Sustentável</b>
      <br />
      Empreendedorismo: Estabelecimento de Metas e Objetivos, Ideias e Oportunidades, Criatividade, SWOT e os fatores ambientais fomentadores da atividade empreendedora; Intraempreendedorismo; Empreendedorismo Social e Ambiental nas Organizações e tendências em empreendedorismo.   Marketing: Histórico, Composto e Fundamentos Sociais, Tipologias, Pesquisa, Ambientes/Sistema, Plano, Imagem, Marca, Segmentação, Meta, Posicionamento, Comportamento do Consumidor, Promoção e Comunicação Integrada de Marketing, Marketing Sustentável/Verde, Rotulagem ambiental, Mercado verde.
      <br />
      <br />
      <b>Eletiva 8 - Gestão da Inovação Tecnológica</b>
      <br />
      O desenvolvimento tecnológico; processos e tipos de inovações; sistemas de inovação; tecnologia e inovação nas empresas; inovação e tecnologia para a competitividade empresarial; estratégias de domínio e inovação tecnológica; avaliação e seleção de novas tecnologias.
      <br/>
      <br />
      <small>Linha 1: Tecnologia e Sustentabilidade</small>
      <br />
      <small>Linha 2: Gestão e Desenvolvimento Regional Sustentável</small>
      <br />
      <br />
      <table class="tg" style="text-align: left; width:100%">
        <tr>
          <th>Disciplina</th>
          <th>C/H</th>
          <th>Créditos</th>
          <th>Professor</th>
          <th></th>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Eletiva 1</td>
          <td>45</td>
          <td>3</td>
          <td>Dechechi</td>
          <td>Linha 1</td>
        </tr>
        <tr>
          <td>Eletiva 2</td>
          <td>45</td>
          <td>3</td>
          <td>Eduardo</td>
          <td>Linha 1</td>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Eletiva 3</td>
          <td>45</td>
          <td>3</td>
          <td>Neucir</td>
          <td>Linha 1</td>
        </tr>
        <tr>
          <td>Eletiva 4</td>
          <td>45</td>
          <td>3</td>
          <td>Clodis</td>
          <td>Linha 1</td>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Eletiva 5</td>
          <td>45</td>
          <td>3</td>
          <td>Pantaleão</td>
          <td>Linha 2</td>
        </tr>
        <tr>
          <td>Eletiva 6</td>
          <td>45</td>
          <td>3</td>
          <td>Manoela</td>
          <td>Linha 2</td>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Eletiva 7</td>
          <td>45</td>
          <td>3</td>
          <td>Eduardo</td>
          <td>Linha 2</td>
        </tr>
        <tr>
          <td>Eletiva 8</td>
          <td>45</td>
          <td>3</td>
          <td>Waldir</td>
          <td>Linha 2</td>
        </tr>
      </table>
    </ion-item>

    <ion-item class="gray">
    <b>DISCIPLINAS COMUNS</b>
    </ion-item>
    <ion-item class="geral-item">
      <b>Comum 1 - Planejamento Estratégico e Modelagem Organizacional</b>
      <br />
      Análise dos conceitos e origens da estratégia. Estratégia: processo e conteúdo. As influências da perspectiva industrial (visão econômica). A visão baseada em recursos. Noções de mudança estratégica e estratégia emergente. Abordagem das configurações nos estudos em estratégia. Sistemas de controle estratégico. Evolução do planejamento estratégico à gestão estratégica. O Processo Estratégico. 
      <br />
      <br />
      <b>Comum 2 - Tópicos Especiais I</b>
      <br />
      Ementa aberta para apresentação e discussão de atualidades e tendências contemporâneas relativas ao uso de tecnologias aplicadas a gestão nas organizações, promovendo o desenvolvimento regional sustentável.
      <br />
      <br />
      <b>Comum 3 - Tópicos Especiais II</b>
      <br />
      Ementa aberta para apresentação e discussão de atualidades e tendências contemporâneas relativas ao uso de tecnologias aplicadas a gestão nas organizações, promovendo o desenvolvimento regional sustentável.
      <br />
      <br />
      <b>Comum 4 - Estatística</b>
      <br />
      Análise exploratória de dados; teoria elementar da probabilidade; distribuições; análise de regressão.
      <br />
      <br />
      <b>Comum 5 - Gerenciamento de Projetos</b>
      <br />
      Visão geral sobre os conceitos básicos de gerenciamento de projetos, com base na versão vigente do Guia PMBok (Project Management Body of Knowledge) publicado pelo PMI (Project Management Institute).      
      <br />
      <br />
      <table class="tg" style="text-align: left; width:100%;">
        <tr>
          <th>Disciplina</th>
          <th>C/H</th>
          <th>Créditos</th>
          <th>Professor</th>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Comum 1</td>
          <td>30</td>
          <td>2</td>
          <td>Elói</td>
        </tr>
        <tr>
          <td>Comum 2</td>
          <td>30</td>
          <td>2</td>
          <td>Eliane</td>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Comum 3</td>
          <td>30</td>
          <td>2</td>
          <td>Eliane</td>
        </tr>
        <tr>
          <td>Comum 4</td>
          <td>30</td>
          <td>2</td>
          <td>Luciano</td>
        </tr>
        <tr style="background-color:#F2F2F2;">
          <td>Comum 5</td>
          <td>30</td>
          <td>2</td>
          <td>Willian</td>
        </tr>
      </table>

    </ion-item>
  </ion-content>
</ion-view>
