/* Empty. Add your own CSS if you like */


.bar-positive,
.tabs-positive,
.tab-nav{
  background-color: #2196F3 !important;
}

.home-item{
  height:200px;
  white-space:normal;
  text-align: center;
  padding:20px;
  background-color:#FFF;
}

.home-item img{
  width:45%;
}

.geral-item{
  white-space:normal;
  padding:20px;
  border:0;
}

.text-item{
  white-space:normal;
  padding:30px;
  border-top:1px solid #999;
}
.gray{
  background-color:#E2E2E2;
}

.midgray{
  background-color:#F2F2F2;
}


.white{
  background-color:#FFF;
}
.center{
  text-align:center;
}

/* Calendar */
.tg td{
  padding:5px 5px;
  overflow:hidden;word-break:normal;
}
.tg th{
  font-weight:bold;
  padding:10px 5px;
  background:#FFF;
  word-break:normal;
}
.tg tr{
  padding:10px;
}
.tg .tg-yw4l{
  vertical-align:middle
}

.centered{
  text-align: left; 
  width:100%;
}
